body {
	padding : 0;
	background-color:#eee;
	height: 100%
	line-height: 1.42857143;
}
@media (min-width: 375px) {
.container {
	max-width: 350px;
}
}
/*.........................................................................*/
@media (min-width: 576px){
.container {
	max-width: 540px;
}
}
/*.........................................................................*/
@media (min-width: 768px){
.container {
	max-width: 720px;
}
}
/*.........................................................................*/
@media (min-width: 992px) {
.container {
	max-width: 960px;
}
}
/*.........................................................................*/
@media (min-width: 1200px) {
.container {
	max-width: 1170px;
}
}
/*.........................................................................*/
@media (min-width: 1360px) {
.container {
	max-width: 1170px;
}
}
/*.........................................................................*/
@media (min-width: 1600px){
.container {
    max-width: 1570px;
}
}
.bn-header {
	background-color: #fff;
	height: 61px;
	border-bottom: 1px solid #e6e5e5;
}
.bn-menuhead {
	margin-bottom:0;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.bn-profile {
	padding:0;
	border:1px solid;
	border-radius: 50%;
	margin:0 3px;
}
.bn-submenu {
	padding:0;
	margin:0 3px;
}